*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    height: 50px;
    width: 80%;
    background-color: #e579e6;
    margin: 20px auto;
}
.page-center{
    width: 80%;
    height: 175px;
    background-color: #e1d67a;
    margin: 20px auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    width: 80%;
    margin: 20px auto;
    background: blue;
}
.clm{
    float: left;
    padding: 10px;
}
.top{
    height: 100px;
    background-color: #abcfe7;
    margin-bottom: 15px;
}
.left, .right{
    background-color: #abcfe7;
    width: 20%;
    height: 600px;

}
.center {
    background-color: #abcfe7;
    width: 58%;
    margin: 0 12px;
    height: 600px;
}




footer{
    height: 50px;
    background-color: #8801fe;
    width: 80%;
    margin: 20px auto;
}